body{
	/* color: red;
	font-size: 10px !important; */
}
.about-main p{
	font-size: 1.2em;
}
.jumbotron-main{
	margin-top:50px;
	/* height: 300px;
	width: 100px; */
	/* background-color: red; */
}
.navbar-fixed-top{
}
